head {
  
}


body {
  background-color: black;
}

.container {
  color: white;
}

#base-input, #target-input, #amount-input {
  color: white;
}

h2 {
  color: white;
  font-size: 70px;
}

h3 {
  font-size: 20px;
}

#result p {
  text-align: center;
  padding: 2em;
  border: 2px solid #2bbbad;
  color: white;
}
#result .error {
  border-color: #f44336;
  color: white;
}

.button {
  text-decoration:none;
  color: rgba(255, 255, 255, 10);
  background: #3D3D3D;
  text-align: center;
  letter-spacing: .5px;
  text-transform: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 7px;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: white;
}
.glow-button:hover {
 color: rgba(255, 255, 255, 1);
 box-shadow: 0 20px 20px rgba(61, 61, 61, 24);
}
